# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
.vscode/

# Build and C++ Binaries
build/
dist/
*.pyd
*.so
*.exe
*.obj
*.o

# Aegis-LOB Data & Models
data/*.csv
data/models/*.pth

# Jupyter Notebook checkpoints
.ipynb_checkpoints/